<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">    
<html manifest="demo.appcache"> 
<head>    
	<title>Music For Web</title>   
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="format-detection" content="telephone=no"/>
		<link rel='stylesheet' href="/stylesheets/public_style.css" />
		<script type="text/javascript" language="javascript" src="/javascripts/jquery1_3_2.js"></script>
		<script type="text/javascript" language="javascript" src="/javascripts/jquery1_3_2.min.js"></script>
		<script type="text/javascript" language="javascript" src="/javascripts/public_javascript.js"></script>
</head>    
	<body> 
		<div id="viewlayer" class="viewlayer">
        	<div id="menu_box" class="menu_box">
           	  <img src="/stylesheets/images/title.png" class="title_img" />
                <form>
                	<input type="text" class="search_input" id="search_input">
                    <input type="button" class="search_button" name="Song" value="search"onclick="search(this)">
                </form>
				<button class="logout">LOGOUT</button>
               <button class="self">SELF</button>
            </div><!--menu box-->
            <div class="content">
				<div id="resultBox" class="resultBox box-shadow">
					<div class="title_word">
						<div class="search_menu">
							<input type="button" class="s_button" name="Song" value="Song" onclick="search(this)">
							<input type="button" class="s_button" name="Airtist" value="Airtist" onclick="search(this)">
							<!--<input type="button" class="s_button" name="User" value="User" onclick="search(this)">-->
						</div>
						Result
						<div class="pages">
							<input type="button" class="s_button" value="Last" onclick="">
							<input type="button" class="s_button" value="1" disabled="disabled">
							<input type="button" class="s_button" value="Next" onclick="">
						</div>
					</div>
					<table class="table_02">
						<tr>
							<td>
								<input type="button" class="songInput" value="<%=%>" id="<%=%>" onclick="">
							</td>
						</tr>
					</table>
				</div>
            </div>
			<div class="footer">
			</div>
		</div><!--viewlayer-->
	</body>    
</html>  